/* .themify_builder_94_row.module_row_0 Style */
.themify_builder_94_row.module_row_0.module_row {
	text-align: center
}

.themify_builder .image-94-0-0-1.module-image .image-content { text-align: center;  } 
.themify_builder .image-94-0-0-1.module-image { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;  } 
